.logo {
    width: 100px; 
    height: auto; 
    float: left;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

p {
    padding-top: 1rem;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #7099df;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5a7589;
}

footer {
    text-align: center;
    margin-top: 1em ;
    color: white;
    background-color: #341c63;
}

/* chat css */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin-top: 5;
}

/* hack the sizes */
/* hack the sizes */
html, body, #root, #root>div {
    height: 100%;
  }
  
  .material-icons {
    position: relative;
    top: 4px;
  }
  
  /** Messages **/
  .scrollable-pane {
    /* will enable it to scroll content */
    flex: 1 1 auto;
    height: 0;
    overflow: auto;
  }
  
  .message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .message p {
    margin: 0;
  }
  
  .message .user-name {
    font-weight: bold;
  }
  
  /* like-button */
  .like-button {
    padding: 0;
  }
  .like-button .material-icons {
    position:relative;
    top:0px;
  }
  
  /** Compose Form **/
  textarea.form-control {
    resize: none;
  }
  
  .input-group img {
    max-width:75px;
  }
  
  .highlighted {
    border: 3px solid greenyellow;
  }

/* Styling the header */
header {
    background-color: #341c63;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width:100%;
}

/* Responsive styling */
@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p,
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p,
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}
/* This website's unified Navigation style, do not change */
.logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    color: #f8d06a;
    text-align: left; 
    font-family: 'Trebuchet MS', sans-serif;
}

nav {
    background-color: #341c63;
    color: white;
    padding: 10px 0;
    display:flex;
    justify-content: space-between; 
    text-align: right;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color:#f8d06a;
}