.logo {
    width: 100px; 
    height: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

nav {
    background-color: hsl(195, 65%, 81%);
    color: white;
    padding: 10px 0;
    display:flex;
    justify-content: center; 
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

p {
    padding-top: 1rem;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #7099df;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5a7589;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #666;
}

/* chat css */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin-top: 1rem;
}

/* Styling the main container */
.container {
    max-width: 800px;
    margin: auto;
    margin-top: 1rem;
    padding: 20px 20px;
    min-height: 80%;
}

/* Styling the header */
header {
    background-color: #b0deee;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Styling the message header */
.msg-header {
    font-weight: bold;
}

/* Styling the inbox */
.chat-page {
    padding: 0;
}

.chats {
    padding: 25px 15px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the message bottom container */
.msg-bottom {
    position: relative;
    height: 11%;
    background-color: rgb(251, 214, 214);
}

/* Styling the input field */
.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

/* Styling received messages */
.received-msg {
    display: inline-block;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 0.3rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

/* Styling sent messages */
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: hsl(195, 65%, 81%);
    color: rgb(151, 151, 151);
    border-radius: 10px;
    font-size: 14px;
    color: rgb(56, 56, 56);
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    width: 46%;
    padding-right: 1rem;
}

/* Styling message timestamps */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

/* Responsive styling */
@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p,
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p,
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}
/* end of chat styling */

/* Footer styling */
footer {
    text-align: center;
    margin-top: 50px;
    color: #666;
}
